* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: flex;
    justify-content: flex-start;
    padding: 3% 3%;
}

.column-section {
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: 30%;
}

.right-side {
    max-width: 80%;
}

.img {}

.person {
    width: 100%;
    border-radius: 10px;
}

.Person-bio {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
}

.person-mail {
    margin: 10px 0;
    font-size: 22px;
    color: #7A7A73;
}

.person-info {
    font-size: 14px;
    letter-spacing: 0.5px;
}

.person-role {
    font-size: 22px;
    color: #7A7A73;
}

.img-koko {}

.experiences {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff;
    border-radius: 10px;
    margin: 16px 0;
    padding: 10px 10px;
}

.many-experience {
    display: flex;
    align-items: center;
}

.role {}

.year {
    color: #7A7A73;
    padding: 0 30px;
}

.role {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 30px;
}

.desciption {
    font-size: 14px;
    letter-spacing: 0.8px;
    padding: 0 30px;
    color: #7A7A73;
    margin: 24px 0;
}

.image-columnInExperience {
    max-width: 15%;
}

.img-experience {
    width: 150%;
    height: 150%;
}

.img-experience2,
.img-experience3 {
    width: 140%;
    height: 140%;
}

.hobbies {
    background-color: #fff;
    border-radius: 10px;
    margin: 16px 0;
    padding: 10px 10px;
}

.hobbies-img {
    width: 100%;
    border-radius: 10px;
}

.hobby-name {
    font-size: 24px;
}

.hobby {
    margin: 30px 0;
}

.hobby-desc {
    color: #7A7A73;
}

.skills {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.first-skill {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px 10px;
    margin: 10px 10px;
    width: 100%;
}

.skill {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    margin: 10px 0;
}

.skill span {
    width: 120px;
    font-size: 16px;
    font-weight: 600;
}

.bar {
    width: 50%;
    height: 10px;
    background: #e6e6e6;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
}

.fill {
    height: 100%;
    width: 0;
    position: absolute;
    background: #2bb7d9;
    border-radius: 20px;
}

.project {
    background-color: #fff;
    border-radius: 10px;
    margin: 10px 20px;
    padding-left: 20px;
    height: 24px;
    font-size: 20px;
}

.my-work {
    margin: 20px auto;
}

.works {
    display: flex;
    margin: 10px 10px;
    border-radius: 10px;
}

.notfound404,
.teamPage,
.CheckOut {
    background-color: #fff;
    padding: 10px 10px;
}

.work-img {
    width: 115%;
    border: 1px solid black;
    border-radius: 10px;
}

.checkout-img {
    width: 90%;
    height: 100%;
    border-radius: 10px;
}

.work-coll {
    padding-left: 60px;
}

.work-skills {
    margin-bottom: 10px;
}

.work-name {
    margin-bottom: 10px;
}

.work-info {
    margin-bottom: 20px;
    line-height: 20px;
}

.button-demo,
.button-code {
    text-decoration: none;
    padding: 10px 30px;
    margin-top: 20px;
    border: 0;
    background-color: #2bb7d9;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}

.button-code {
    background-color: #fff;
    color: black;
    border: 1px solid #2bb7d9;
}

.margin {
    margin-bottom: 30px;
}

.padding-left {}

.blog {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 5%;
    background-color: #fff;
    border-radius: 10px;
}

.blog img {
    width: 100%;
    height: 90%;
    border-radius: 10px;
}

.blog-instruction {
    padding: 5% 5%;
    max-width: 40%;
}

.blog-instruction p {
    color: #7A7A73;
    margin-bottom: 10px;
}

.blog-instruction h3 {
    margin-bottom: 20px;
    font-size: 32px;
}

@media (max-width: 910px) {
    .container {
        gap: 20px;
    }

    .many-experience {
        flex-direction: column;
        gap: 20px;
    }

    .works {
        flex-direction: column;
    }

    .img-media {
        width: 80%;
        text-align: center;
        margin: 10px 20px;
    }

    .work-coll {
        padding-left: 24px;
    }

    .media-padding {
        padding-left: 24px;
    }

    .team-img {
        width: 90%;
        margin: 10px 20px;
    }

    .checkout-img {
        width: 90%;
        margin: 10px 20px;
    }

    .blog {
        flex-direction: column;
        padding: 10px 10px;
    }

    .blog-instruction {
        padding: 0;
        max-width: 90%;
    }

    .blog img {
        width: 90%;
        padding-left: 20px;
        border-radius: 10px;
        margin-top: 20px;
    }
}
